<script>
  document.lastBetDate = <%= fixture.seconds_left_to_bet %>;
</script>
<div align="right">
  <h1>מחזור כדורגל <%= fixture.number %></h1> <span id='leftover-time'></div>

  <%= render partial: 'all_matches', locals: {matches: fixture.matches, fixture_bet_for_user: @user_fixture_bet }  %>

  <% unless fixture.can_still_bet_on_fixture? %>
    <div class="checkbox">
      <label>
        <input align="right" class="show-other-bets" type="checkbox"> תראה את ההימורים של כולם
      </label>
    </div>
  <% end %>
  </br>
  <div class='row'>
    <div class='col-md-2'>
      <%= link_to_prev_fixture(fixture) %> <%= link_to_next_fixture(fixture) %>
    </div>
    <div class="dropdown col-md-1">
      לך למחזור
      <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">בחר מחזור
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <% Fixture.where(league_id: fixture.league_id).order('number').each { |fixture| %>
          <li role="presentation"><%= link_to "מחזור #{fixture.number}", index_path(league_id: fixture.league_id, number: fixture.number), :class=>"loader-ajax-link" %></li>
        <% } %>
      </ul>
    </div>
  </div>

      <div>
        <% if current_user.is_ben? %>
          <% if fixture.is_open %>
            <%= link_to "סגור מחזור", open_close_path(league_id: fixture.league_id, number: fixture.number, should_open: 'false') %>
          <% else %>
            <%= link_to "פתח מחזור", open_close_path(league_id: fixture.league_id, number: fixture.number, should_open: 'true') %>
          <% end %>
        <% end %>
    </div>
</div>
<br/><br/>
