<% prediction = match_bet.prediction %>
<% if match.can_still_bet_on_match? %>
<td>
<div class="btn-group" data-toggle="buttons">
  <label match_bet_id="<%= match_bet.id %>" option="1" class="btn btn-primary btn-xs js-bet-click <%= 'active' if prediction.eql?('1') %>">
    <input type="radio" name="options" id="option1" autocomplete="off" match_bet_id="<%= match_bet.id %>">1
  </label>
  <label match_bet_id="<%= match_bet.id %>" option="X" class="btn btn-primary btn-xs js-bet-click <%= 'active' if prediction.eql?('X') %>">
    <input type="radio" name="options" id="option2" autocomplete="off" checked>X
  </label>
  <label match_bet_id="<%= match_bet.id %>" option="2" class="btn btn-primary btn-xs js-bet-click <%= 'active' if prediction.eql?('2') %>">
    <input type="radio" name="options" id="option3" autocomplete="off">2
  </label>
</div>
</td>
<% else %>
  <td class="<%= match.bet_score == prediction ? "success" : "info" %>"><%= prediction %></td>
<% end %>
<% unless match.can_still_bet_on_match? %>
  <% @other_users.each {|user| %>
    <% bet = @other_users_bets.dig(user.id, match.id) %>
    <% if bet %>
      <td class="hidden other_user_bet <%= match.bet_score == bet.prediction ? "success" : "info" %>"><%= bet.prediction %></td>
    <% else %>
      <td class="hidden other_user_bet">-</td>
    <% end %>
  <% } %>
<% end %>
<td><span id='<%= "success_for_#{match_bet.id}" %>' class="label label-success" style="display: none">הימור התקבל</span></td>
